<table>
    <tr>
        <td colspan="5">
            <h3>Order Items:</h3>
        </td>
    </tr>
    <tr *ngFor="let item of order.items">
        <td>
            <a routerLink="/dessert/{{item.dessert.id}}">
                <img [src]="item.dessert.imageUrl" alt="dessert image">
            </a>
        </td>
        <td>{{item.dessert.name}}</td>
        <td>{{item.dessert.price | currency}}</td>
        <td>Quantity: {{item.quantity}}</td>
        <td>{{item.price | currency}}</td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td>
            <strong>Total :</strong>
        </td>
        <td>
            <strong>{{order.totalPrice | currency}}</strong>
        </td>
    </tr>
</table>
