<p>
    <mat-toolbar>
      <a routerLink=""><img src="../../assets/Logo/logo.png" alt="logo"></a>
        <div class="navigation">
            <button class="nav-items" mat-button><a routerLink="" aria-label="back to home"><mat-icon>home</mat-icon></a></button>
            <button class="nav-items" mat-button><a routerLink="/dessert/:" aria-label="list of products"><mat-icon>cakes</mat-icon></a></button>
            <button class="nav-items" mat-button><a routerLink="cart-page" aria-label="shopping cart"><mat-icon matBadge="{{cartQuantity}}">shopping_cart</mat-icon></a></button>
        </div>
    </mat-toolbar>
</p>



