div{
    display: flex;
    justify-content: center;
}
p{
    position: absolute;
    width: 80%;
    margin: 15%;
    padding: 10px;
    color: rgb(203, 8, 93);
}
h1{
    position: absolute;
    margin: 8%;
    color: rgb(203, 8, 93);
}
img{
    position: sticky;
    width: 50%;
    opacity: 0.2;
}



