<div>
    <h1>Welcome to Scout's Bakery!</h1>
    <p> A charming haven nestled in the heart of our close-knit community.
        At Scout's, we believe in the magic of homemade goodness and the warmth that comes from sharing freshly baked treats.
        Our journey began with a love for creating delectable pastries, bread, and confections that not only satisfy your taste buds but also evoke a sense of nostalgia and comfort. 
        Each recipe is crafted with care, using high-quality ingredients to ensure that every bite is a celebration of flavor.
        Whether you're stopping by for a morning coffee and a flaky croissant or selecting a custom cake for a special occasion, Scout's Bakery is more than just a place to indulge your sweet tooth—it's a welcoming space where friends, family, and neighbors gather to create sweet memories together.
        We invite you to join us in savoring the simple joys of life, one delicious treat at a time</p>
    <img src="../../assets/Logo/logo.png" alt="logo">
</div>

