ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

li a{
    height: 20rem;
    width: 15rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color:rgb(251, 157, 198) ;
}
li a:hover{
    opacity: 0.9;
    cursor: pointer;
}

li a img{
    object-fit: cover;
    height: 14.5rem;
}

.content{
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 7rem;
}

.dessert-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

span{
    color: rgb(249, 118, 175);
}

.price{
    position: absolute;
    bottom: 0;
    left: 0.9rem;
    padding: 0.3rem 100% 0 0;
    color: rgb(251, 157, 198);
    margin-top: 0.7rem;
    font-size: 1.1rem;
}

.category, span{
    background-color: rgb(249, 118, 175);
    padding: 0.3rem 1rem;
    margin: 0.2rem 0.15rem;
    border-radius: 10rem;
    font-style: 600;
    color: rgb(247, 246, 197);
}
