<!-- Footer -->
<footer>
    <div class="footer-container">
        <div class="logo">
            <img src="../../assets/Logo/logo.png" alt="Your Logo">
        </div>
        <div class="footer-header">
            <h1>Contact Us</h1>
        <ul>
            <li>
                Phone: (123)-456-7890
            </li>
        </ul>
        <div class="social-icons">
            <a href="mailto:scoutsbakery@gmail.com" target="_blank"><img src="../../assets/icons/google-gmail.svg" alt="Gmail"></a>
            <a href="#" target="_blank"><img src="../../assets/icons/facebook.png" alt="Facebook"></a>
            <a href="#" target="_blank"><img src="../../assets/icons/twitter.png" alt="Twitter"></a>
            <a href="#" target="_blank"><img src="../../assets/icons/instagram.png" alt="Instagram"></a>
        </div>
        
        </div>
        <hr>
        <div id="about-me">
            <h1>About Us</h1>
            <p>Welcome to Scout's Bakery, a charming haven nestled in the heart of our close-knit community.
                At Scout's, we believe in the magic of homemade goodness and the warmth that comes from sharing freshly baked treats.
                Our journey began with a love for creating delectable pastries, bread, and confections that not only satisfy your taste buds but also evoke a sense of nostalgia and comfort. 
                Each recipe is crafted with care, using high-quality ingredients to ensure that every bite is a celebration of flavor.
                Whether you're stopping by for a morning coffee and a flaky croissant or selecting a custom cake for a special occasion, Scout's Bakery is more than just a place to indulge your sweet tooth—it's a welcoming space where friends, family, and neighbors gather to create sweet memories together.
                We invite you to join us in savoring the simple joys of life, one delicious treat at a time</p>
        </div>
    </div>
    <hr>
    <h1>Find Us On Google Maps</h1>
    <google-map height="200px" width="25%"></google-map>
    <h6>Developed By John Carnagey</h6>
  </footer>