<!-- Footer -->
<footer>
    <div class="footer-container">
        <div class="logo">
            <img src="../../assets/Logo/logo.png" alt="Your Logo">
        </div>
        <div class="footer-header">
                <h1>Contact Us</h1>
            <ul>
                <li>phone: 
                    <a href="#">(123)-456-7890</a>
                </li>
            </ul>
            <div class="social-icons">
                <a href="mailto:scoutsbakery@gmail.com" target="_blank"><img src="../../assets/icons/google-gmail.svg" alt="Gmail"></a>
                <a href="#" target="_blank"><img src="../../assets/icons/facebook.png" alt="Facebook"></a>
                <a href="#" target="_blank"><img src="../../assets/icons/twitter.png" alt="Twitter"></a>
                <a href="#" target="_blank"><img src="../../assets/icons/instagram.png" alt="Instagram"></a>
            </div>
        </div>
    </div>
    <hr>
    <h1>Find Us On Google Maps</h1>
    <google-map height="200px" width="50%"></google-map>
    <h6>Developed By John Carnagey</h6>
  </footer>