div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div a{
    background-color: rgb(247, 246, 197);
    padding: 0.3rem 1rem;
    margin: 0.6rem 0.35rem;
    border-radius: 10rem;
    font-style: 600;
    color: rgb(251, 157, 198);
}

div a:hover{
    background-color: rgb(251, 157, 198);
    color: rgb(247, 246, 197);
}