<div class="container">
    <div class="content">
        <app-title title="Order Form" fontSize="1.6rem"></app-title>
        <order-items-list [order]="order"></order-items-list>
        <form formGroup="checkoutForm">
            <input type="text" label="Name" placeholder="Name">
            <input type="text" label="Address" placeholder="Address">
            <textarea name="details" id="details" cols="30" rows="10" placeholder="Please add any customizations or special requests!"></textarea>
        </form>
    </div>
</div>
